langchain
ipykernel
python-dotenv
pypdf
langchain_community
bs4
langchain-text-splitters
lxml
sentence_transformers
langchain_huggingface
chromadb
faiss-cpu
langchain_chroma
langchain_ollama
langchain_groq
langchain_core
fastapi
langserve
langchain-openai
arxiv
wikipedia
streamlit
duckduckgo-search